$orbitSize: 6rem;
$circleSize: $orbitSize / 12;

@mixin generateSquare($size) {
  width: $size;
  height: $size;
}

.loader-orbit {
  @include generateSquare($orbitSize);
  animation: orbit-rotation 6s infinite linear;
  position: absolute;

  &_circle {
    @include generateSquare($circleSize);
    animation: circle-loading 2s infinite ease-in-out;
  }
}

@keyframes orbit-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle-loading {
  0% {
    transform: translate3d(0, 0, 0);
    @include generateSquare($circleSize);
  }
  25% {
    @include generateSquare($circleSize * 1.5);
  }
  50% {
    transform: translate3d(0.5rem, $orbitSize, 0);
    @include generateSquare($circleSize);
  }
  75% {
    @include generateSquare($circleSize * 0.5);
  }
  100% {
    transform: translate(0, 0, 0);
    @include generateSquare($circleSize);
  }
}
