$timing: 1.5s;

.AlbumCard {
  .image {
    transition: opacity $timing cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &.over {
    overflow: visible;
    box-shadow: none !important;

    .image {
      opacity: 0;
    }
    figure {
      width: 200%;
      height: 200%;
    }
    .fonte {
      opacity: 0;
    }
  }
}

@keyframes textBlur {
}

@keyframes linearZoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1.05);
  }
}
