.mask {
  &.over {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    transform: scale(2.5);
    transform-origin: center;
    justify-content: space-around;
  }
}

@keyframes leftToRight {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
