@mixin animationEffect($animation, $time) {
  animation: $animation $time cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@mixin bgColorOp($opacity) {
  background-color: rgba(255, 255, 255, $opacity);
}
@mixin backdropFilter($filter) {
  backdrop-filter: blur($filter);
  -webkit-backdrop-filter: blur($filter);
}

.dialog {
  &.in {
    transform: scale(1);
    @include bgColorOp(0);
    @include animationEffect(blowUpBlur, 4s);
    .dialog-content {
      opacity: 1;
      @include animationEffect(blowUpContent, 0.25s);
      &_title {
        color: rgba(68, 121, 136, 0.5);
        font-weight: 700;
        font-size: 32px;
      }
      &_lyric {
        transform: perspective(400px) rotateX(45deg);
      }
    }
  }

  &.out {
    transform: scale(0);
  }
}

@keyframes blowUpBlur {
  70% {
    @include backdropFilter(20px);
    @include bgColorOp(0.2);
  }
  100% {
    @include bgColorOp(0.3);
    @include backdropFilter(22px);
  }
}

@keyframes blowUpContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
