:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: 59, 130, 246;
  --secondary: 255, 246, 133;
  --pinky: 255, 29, 88;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
ul,
li {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  list-style-tyoe: none;
}

body {
  height: 100vh;
  margin: 0px;
  background: #fff;
}

#root {
  text-align: center;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tridimensional-gradient-text {
  text-align: center;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(220, 1%, 49%, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 2px #1a191a;
}
